<% content_for :title do %>
  Sign Up
<% end %>

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
    style="background-image: url(<%= image_url 'bg-title-page-03.jpg' %>);">
    <h2 class="tit6 t-center">
      Sign up
    </h2>
	</section>

<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
  <div class="container">
    <h3 class="text-center txt55">Wel Come to Pato Place<h6><br>
      
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, placeholder:"Enter Your First Name", autocomplete: "first_name", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, placeholder:"Enter Your Last Name", autocomplete: "last_name", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder:"Enter Your Email", autocomplete: "email", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :phone_no %><br />
        <%= f.telephone_field :phone_no, placeholder:"Enter Your Mobile no.", autocomplete: "phone_no", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :gender %><br />
	      <%= f.select :gender, [["Male"], ["Female"], ["Other"]], placeholder:"Enter Your Gender", include_blank: "Select Gender", class:"form-select" %>
      </div><br>

      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_area :address, placeholder:"Enter Your Address", autocomplete: "address", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :landmark %><br />
        <%= f.text_field :landmark, placeholder:"Enter Your Landmark", autocomplete: "landmark", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city, placeholder:"Enter Your City", autocomplete: "city", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :state %><br />
        <%= f.text_field :state, placeholder:"Enter Your State", autocomplete: "state", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :zip_code %><br />
        <%= f.text_field :zip_code, placeholder:"Enter Your Zip Code", autocomplete: "zip_code", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, placeholder:"Create Your Password", autocomplete: "new-password", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, placeholder:"Enter Password For Confirmation", autocomplete: "new-password", class:"form-control" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-block btn3 mtxt11" %>
      </div>
    <% end %><br>

    <%= link_to "Log In", new_user_session_path, class:"btn btn3 btn-block mtxt11" %><br>
  </div>
</section>  