<% content_for :title do %>
   Change password
<% end %>

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
    style="background-image: url(<%= image_url 'bg-title-page-03.jpg' %>);">
    <h2 class="tit6 t-center">
      Change your password
    </h2>
</section>

<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, placeholder: "Enter Your New Password", autocomplete: "new-password", class:"form-control" %>
      </div><br>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, placeholder:"Enter Your New Password For Confirmation", autocomplete: "new-password", class:"form-control" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Change my password", class:"btn btn-block btn3 mtxt11" %>
      </div>
    <% end %><br>

    <%= render "devise/shared/links" %>
  </div>
</section>