<% content_for :title do %>
   Reset password
<% end %>

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
    style="background-image: url(<%= image_url 'bg-title-page-03.jpg' %>);">
    <h2 class="tit6 t-center">
      Forgot your password?
    </h2>
	</section>

<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:"btn btn-block btn-success mtxt11" %>
      </div>
    <% end %><br>

    <%= render "devise/shared/links" %>

  </div>
</section>