- content_for :title do
  About Us
/ Title Page
%section.bg-title-page.flex-c-m.p-t-160.p-b-80.p-l-15.p-r-15{:style => "background-image: url(#{image_url "bg-title-page-03.jpg"});"}
  %h2.tit6.t-center
    =t 'title.About Us'
/ Our Story
%section.bg2-pattern.p-t-116.p-b-110.t-center.p-l-15.p-r-15
  %span.tit2.t-center
    Italian Restaurant
  %h3.tit3.t-center.m-b-35.m-t-5
    Our Story
  %p.t-center.size32.m-l-r-auto
    Fusce at risus eget mi auctor pulvinar. Suspendisse maximus venenatis pretium. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam purus purus, lacinia a scelerisque in, luctus vel felis. Donec odio diam, dignissim a efficitur at, efficitur et est. Pellentesque semper est ut pulvinar ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla et leo accumsan, egestas velit ac, fringilla tortor. Sed varius justo sed luctus mattis.
/ Video
%section.section-video.parallax100{:style => "background-image: url(#{image_url "header-menu-01.jpg"});"}
  .content-video.t-center.p-t-225.p-b-250
    %span.tit2.p-l-15.p-r-15
      Discover
    %h3.tit4.t-center.p-l-15.p-r-15.p-t-3
      Our Video
    .btn-play.ab-center.size16.hov-pointer.m-l-r-auto.m-t-43.m-b-33{"data-target" => "#modal-video-01", "data-toggle" => "modal"}
      .flex-c-m.sizefull.bo-cir.bgwhite.color1.hov1.trans-0-4
        %i.fa.fa-play.fs-18.m-l-2{"aria-hidden" => "true"}
/ Delicious & Romantic
%section.bg1-pattern.p-t-120.p-b-105
  .container
    / Delicious
    .row
      .col-md-6.p-t-45.p-b-30
        .wrap-text-delicious.t-center
          %span.tit2.t-center
            Delicious
          %h3.tit3.t-center.m-b-35.m-t-5
            RECIPES
          %p.t-center.m-b-22.size3.m-l-r-auto
            Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed fringilla, nunc sed imperdiet lacinia, nisl ante egestas mi, ac facilisis ligula sem id neque.
      .col-md-6.p-b-30
        .wrap-pic-delicious.size2.bo-rad-10.hov-img-zoom.m-l-r-auto
          = image_tag "our-story-01.jpg", alt:"IMG-OUR"
    / Romantic
    .row.p-t-170
      .col-md-6.p-b-30
        .wrap-pic-romantic.size2.bo-rad-10.hov-img-zoom.m-l-r-auto
          = image_tag "our-story-02.jpg", alt:"IMG-OUR"
      .col-md-6.p-t-45.p-b-30
        .wrap-text-romantic.t-center
          %span.tit2.t-center
            Romantic
          %h3.tit3.t-center.m-b-35.m-t-5
            Restaurant
          %p.t-center.m-b-22.size3.m-l-r-auto
            Fusce iaculis, quam quis volutpat cursus, tellus quam varius eros, in euismod lorem nisl in ante. Maecenas imperdiet vulputate dui sit amet vestibulum. Nulla quis suscipit nisl.
/ Banner
.parallax0.parallax100{:style => "background-image: url(#{image_url "bg-cover-video-02.jpg"});"}
  .overlay0-parallax.t-center.size33
/ Chef
%section.section-chef.bgwhite.p-t-115.p-b-95
  .container.t-center
    %span.tit2.t-center
      Meet Our
    %h3.tit5.t-center.m-b-50.m-t-5
      Chef
    .row
      .col-md-8.col-lg-4.m-l-r-auto.p-b-30
        / -Block5
        .blo5.pos-relative.p-t-60
          .pic-blo5.size14.bo4.wrap-cir-pic.hov-img-zoom.ab-c-t
            = image_tag "avatar-02.jpg", alt:"IGM-AVATAR"
          .text-blo5.size34.t-center.bo-rad-10.bo7.p-t-90.p-l-35.p-r-35.p-b-30
            %a.txt34.dis-block.p-b-6{:href => "#"}
              Peter Hart
            %span.dis-block.t-center.txt35.p-b-25
              Chef
            %p.t-center
              Donec porta eleifend mauris ut effici-tur. Quisque non velit vestibulum, lob-ortis mi eget, rhoncus nunc
      .col-md-8.col-lg-4.m-l-r-auto.p-b-30
        / -Block5
        .blo5.pos-relative.p-t-60
          .pic-blo5.size14.bo4.wrap-cir-pic.hov-img-zoom.ab-c-t
            = image_tag "avatar-03.jpg", alt:"IGM-AVATAR"
          .text-blo5.size34.t-center.bo-rad-10.bo7.p-t-90.p-l-35.p-r-35.p-b-30
            %a.txt34.dis-block.p-b-6{:href => "#"}
              Joyce Bowman
            %span.dis-block.t-center.txt35.p-b-25
              Chef
            %p.t-center
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies felis a sem tempus tempus.
      .col-md-8.col-lg-4.m-l-r-auto.p-b-30
        / -Block5
        .blo5.pos-relative.p-t-60
          .pic-blo5.size14.bo4.wrap-cir-pic.hov-img-zoom.ab-c-t
            = image_tag "avatar-05.jpg", alt:"IGM-AVATAR"
          .text-blo5.size34.t-center.bo-rad-10.bo7.p-t-90.p-l-35.p-r-35.p-b-30
            %a.txt34.dis-block.p-b-6{:href => "#"}
              Peter Hart
            %span.dis-block.t-center.txt35.p-b-25
              Chef
            %p.t-center
              Phasellus aliquam libero a nisi varius, vitae placerat sem aliquet. Ut at velit nec ipsum iaculis posuere quis in sapien
/ Sign up
.section-signup.bg1-pattern.p-t-85.p-b-85
  %form.flex-c-m.flex-w.flex-col-c-m-lg.p-l-5.p-r-5
    %span.txt5.m-10
      Specials Sign up
    .wrap-input-signup.size17.bo2.bo-rad-10.bgwhite.pos-relative.txt10.m-10
      %input.bo-rad-10.sizefull.txt10.p-l-20{:name => "email-address", :placeholder => "Email Adrress", :type => "text"}/
      %i.fa.fa-envelope.ab-r-m.m-r-18{"aria-hidden" => "true"}
    / Button3
    %button.btn3.flex-c-m.size18.txt11.trans-0-4.m-10{:type => "submit"}
      Sign-up