- content_for :title do
  Blog Details
/ Title Page
%section.bg-title-page.flex-c-m.p-t-160.p-b-80.p-l-15.p-r-15{:style => "background-image: url(#{image_url 'bg-title-page-03.jpg'});"}
  %h2.tit6.t-center
    Blog
/ Content page
%section
  .bread-crumb.bo5-b.p-t-17.p-b-17
    .container
      %a.txt27{:href => "/home/index"}
        Home
      %span.txt29.m-l-10.m-r-10 /
      %a.txt27{:href => "/home/blog"}
        Blog
      %span.txt29.m-l-10.m-r-10 /
      %span.txt29
        Cooking recipe delicious
  .container
    .row
      .col-md-8.col-lg-9
        .p-t-80.p-b-124.bo5-r.p-r-50.h-full.p-r-0-md.bo-none-md
          / Block4
          .blo4.p-b-63
            / -
            .pic-blo4.hov-img-zoom.bo-rad-10.pos-relative
              %a{:href => "/home/blog_detail"}
                = image_tag 'blog-05.jpg', alt:"IMG-BLOG"
              .date-blo4.flex-col-c-m
                %span.txt30.m-b-4
                  28
                %span.txt31
                  Dec, 2018
            / -
            .text-blo4.p-t-33
              %h4.p-b-16
                %a.tit9{:href => "/home/blog_detail"} Cooking recipe Delicious
              .txt32.flex-w.p-b-24
                %span
                  by Admin
                  %span.m-r-6.m-l-4 |
                %span
                  28 December, 2018
                  %span.m-r-6.m-l-4 |
                %span
                  Cooking, Food
                  %span.m-r-6.m-l-4 |
                %span
                  8 Comments
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget mi sem. Nulla facilisi. Sed ultricies eros a nibh tempus, in sodales mi vestibulum. Nullam quis dui ac nisl ultrices euismod et sit amet urna. Morbi semper sapien quis ex tempor, sit amet scelerisque eros rhoncus. Cras scelerisque auctor gravida. Nunc fermentum luctus rhoncus. Nulla vulputate fermentum convallis. In quis pellentesque tortor. Cras metus nibh, gravida vitae ante vel, finibus semper tellus. Nulla vel tincidunt magna. Morbi tempor velit lectus, eu commodo quam volutpat vitae.
          / Leave a comment
          %form.leave-comment.p-t-10
            %h4.txt33.p-b-14
              Leave a Comment
            %p
              Your email address will not be published. Required fields are marked *
            %textarea.bo-rad-10.size29.bo2.txt10.p-l-20.p-t-15.m-b-10.m-t-40{:name => "commentent", :placeholder => "Comment..."}
            .size30.bo2.bo-rad-10.m-t-3.m-b-20
              %input.bo-rad-10.sizefull.txt10.p-l-20{:name => "name", :placeholder => "Name *", :type => "text"}/
            .size30.bo2.bo-rad-10.m-t-3.m-b-20
              %input.bo-rad-10.sizefull.txt10.p-l-20{:name => "email", :placeholder => "Email *", :type => "text"}/
            .size30.bo2.bo-rad-10.m-t-3.m-b-30
              %input.bo-rad-10.sizefull.txt10.p-l-20{:name => "website", :placeholder => "Website", :type => "text"}/
            / Button3
            %button.btn3.flex-c-m.size31.txt11.trans-0-4{:type => "submit"}
              Post Comment
      .col-md-4.col-lg-3
        .sidebar2.p-t-80.p-b-80.p-l-20.p-l-0-md.p-t-0-md
          / Search
          .search-sidebar2.size12.bo2.pos-relative
            %input.input-search-sidebar2.txt10.p-l-20.p-r-55{:name => "search", :placeholder => "Search", :type => "text"}/
            %button.btn-search-sidebar2.flex-c-m.ti-search.trans-0-4
          / Categories
          .categories
            %h4.txt33.bo5-b.p-b-35.p-t-58
              Categories
            %ul
              %li.bo5-b.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  Cooking recipe
              %li.bo5-b.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  Delicious foods
              %li.bo5-b.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  Events Design
              %li.bo5-b.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  Restaurant Place
              %li.bo5-b.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  WordPress
          / Most Popular
          .popular
            %h4.txt33.p-b-35.p-t-58
              Most popular
            %ul
              %li.flex-w.m-b-25
                .size16.bo-rad-10.wrap-pic-w.of-hidden.m-r-18
                  %a{:href => "#"}
                    = image_tag 'blog-11.jpg', alt:"IMG-BLOG"
                .size28
                  %a.dis-block.txt28.m-b-8{:href => "#"}
                    Best Places for Wine
                  %span.txt14
                    3 days ago
              %li.flex-w.m-b-25
                .size16.bo-rad-10.wrap-pic-w.of-hidden.m-r-18
                  %a{:href => "#"}
                    = image_tag 'blog-12.jpg', alt:"IMG-BLOG"
                .size28
                  %a.dis-block.txt28.m-b-8{:href => "#"}
                    Eggs and Cheese
                  %span.txt14
                    July 2, 2017
              %li.flex-w.m-b-25
                .size16.bo-rad-10.wrap-pic-w.of-hidden.m-r-18
                  %a{:href => "#"}
                    = image_tag 'blog-13.jpg', alt:"IMG-BLOG"
                .size28
                  %a.dis-block.txt28.m-b-8{:href => "#"}
                    Style the Wedding Party
                  %span.txt14
                    May 28, 2017
              %li.flex-w.m-b-25
                .size16.bo-rad-10.wrap-pic-w.of-hidden.m-r-18
                  %a{:href => "#"}
                    = image_tag 'blog-14.jpg', alt:"IMG-BLOG"
                .size28
                  %a.dis-block.txt28.m-b-8{:href => "#"}
                    Cooking recipe Delicious
                  %span.txt14
                    May 25, 2017
              %li.flex-w.m-b-25
                .size16.bo-rad-10.wrap-pic-w.of-hidden.m-r-18
                  %a{:href => "#"}
                    = image_tag 'blog-15.jpg', alt:"IMG-BLOG"
                .size28
                  %a.dis-block.txt28.m-b-8{:href => "#"}
                    Pizza is prepared fresh
                  %span.txt14
                    May 2, 2017
          / Archive
          .archive
            %h4.txt33.p-b-20.p-t-43
              Archive
            %ul
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  July 2018
                %span.txt29
                  (9)
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  June 2018
                %span.txt29
                  (39)
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  May 2018
                %span.txt29
                  (29)
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  April  2018
                %span.txt29
                  (35)
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  March 2018
                %span.txt29
                  (22)
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  February 2018
                %span.txt29
                  (32)
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  January 2018
                %span.txt29
                  (21)
              %li.flex-sb-m.p-t-8.p-b-8
                %a.txt27{:href => "#"}
                  December 2017
                %span.txt29
                  (26)