- content_for :title do
  Menu
/ Title Page
%section.bg-title-page.flex-c-m.p-t-160.p-b-80.p-l-15.p-r-15{:style => "background-image: url(#{image_url "bg-title-page-01.jpg"});"}
  %h2.tit6.t-center
    Pato Menu
/ Main menu
%section.section-mainmenu.p-t-110.p-b-70.bg1-pattern
  .container
    .row
      .col-md-10.col-lg-6.p-r-35.p-r-15-lg.m-l-r-auto
        .wrap-item-mainmenu.p-b-22
          %h3.tit-mainmenu.tit10.p-b-25
            STARTERS
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Pine nut sbrisalona
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $29.79
            %span.info-item-mainmenu.txt23
              Sed fermentum eros vitae eros
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Aenean eu
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $19.35
            %span.info-item-mainmenu.txt23
              Feugiat maximus neque pharetra
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Sed feugiat
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $12.19
            %span.info-item-mainmenu.txt23
              Proin lacinia nisl ut ultricies posuere nulla
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Consectetur
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $21.89
            %span.info-item-mainmenu.txt23
              Etiam cursus facilisis tortor
        .wrap-item-mainmenu.p-b-22
          %h3.tit-mainmenu.tit10.p-b-25
            Drinks
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Vivamus pretium
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $29.79
            %span.info-item-mainmenu.txt23
              Sed fermentum eros vitae eros
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Duis pharetra ligula
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $19.35
            %span.info-item-mainmenu.txt23
              Feugiat maximus neque pharetra
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                In eu dolor
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $53.34
            %span.info-item-mainmenu.txt23
              Proin lacinia nisl ut ultricies posuere nulla
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Feugiat maximus
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $62.45
            %span.info-item-mainmenu.txt23
              Sed fermentum eros vitae eros
      .col-md-10.col-lg-6.p-l-35.p-l-15-lg.m-l-r-auto
        .wrap-item-mainmenu.p-b-22
          %h3.tit-mainmenu.tit10.p-b-25
            Main
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Duis sed aliquet
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $31.18
            %span.info-item-mainmenu.txt23
              Proin lacinia nisl ut ultricies posuere nulla
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Suspendisse
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $70.25
            %span.info-item-mainmenu.txt23
              Feugiat maximus neque pharetra
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Scelerisque sed
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $36.19
            %span.info-item-mainmenu.txt23
              Etiam cursus facilisis tortor
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Mollis nulla
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $19.50
            %span.info-item-mainmenu.txt23
              Proin lacinia nisl ut ultricies posuere nulla
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Convallis augue
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $29.15
            %span.info-item-mainmenu.txt23
              Sed fermentum eros vitae eros
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Maecenas tristique
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $29.79
            %span.info-item-mainmenu.txt23
              Feugiat maximus neque pharetra
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Duis tincidunt
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $19.35
            %span.info-item-mainmenu.txt23
              Proin lacinia nisl ut ultricies posuere nulla
        .wrap-item-mainmenu.p-b-22
          %h3.tit-mainmenu.tit10.p-b-25
            Dessert
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                tempus aliquet
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $9.79
            %span.info-item-mainmenu.txt23
              Proin lacinia nisl ut ultricies posuere nulla
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                scelerisque
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $19.35
            %span.info-item-mainmenu.txt23
              Sed fermentum eros vitae eros
          / Item mainmenu
          .item-mainmenu.m-b-36
            .flex-w.flex-b.m-b-3
              %a.name-item-mainmenu.txt21{:href => "#"}
                Cras maximus
              .line-item-mainmenu.bg3-pattern
              .price-item-mainmenu.txt22
                $5.79
            %span.info-item-mainmenu.txt23
              Duis pharetra ligula at urna dignissim
/ Lunch
%section.section-lunch.bgwhite
  .header-lunch.parallax0.parallax100{:style => "background-image: url(#{image_url "header-menu-01.jpg"});"}
    .bg1-overlay.t-center.p-t-170.p-b-165
      %h2.tit4.t-center
        Lunch
  .container
    .row.p-t-108.p-b-70
      .col-md-8.col-lg-6.m-l-r-auto
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "lunch-01.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Sed varius
            %span.txt23
              Aenean pharetra tortor dui in pellentesque
            %span.txt22.m-t-20
              $29.79
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "lunch-03.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              tempus aliquet
            %span.txt23
              Aenean condimentum ante erat
            %span.txt22.m-t-20
              $45.09
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "lunch-05.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Duis massa
            %span.txt23
              Proin lacinia nisl ut ultricies posuere nulla
            %span.txt22.m-t-20
              $12.75
      .col-md-8.col-lg-6.m-l-r-auto
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "lunch-02.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              sbrisalona
            %span.txt23
              Proin lacinia nisl ut ultricies posuere nulla
            %span.txt22.m-t-20
              $29.79
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "lunch-04.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Cras eget magna
            %span.txt23
              Sed fermentum eros vitae eros
            %span.txt22.m-t-20
              $45.09
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "lunch-06.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Nullam maximus
            %span.txt23
              Duis massa nibh porttitor nec imperdiet eget
            %span.txt22.m-t-20
              $12.75
/ Dinner
%section.section-dinner.bgwhite
  .header-dinner.parallax0.parallax100{:style => "background-image: url(#{image_url "header-menu-02.jpg"} );"}
    .bg1-overlay.t-center.p-t-170.p-b-165
      %h2.tit4.t-center
        Dinner
  .container
    .row.p-t-108.p-b-70
      .col-md-8.col-lg-6.m-l-r-auto
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "dinner-01.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Maecenas tristique
            %span.txt23
              Aenean pharetra tortor dui in pellentesque
            %span.txt22.m-t-20
              $29.79
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "dinner-03.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Pine nut sbrisalona
            %span.txt23
              Aenean condimentum ante erat
            %span.txt22.m-t-20
              $45.09
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "dinner-05.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Suspendisse eu
            %span.txt23
              Proin lacinia nisl ut ultricies posuere nulla
            %span.txt22.m-t-20
              $12.75
      .col-md-8.col-lg-6.m-l-r-auto
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "dinner-02.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Cras maximus
            %span.txt23
              Proin lacinia nisl ut ultricies posuere nulla
            %span.txt22.m-t-20
              $29.79
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "dinner-04.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Pine nut sbrisalona
            %span.txt23
              Sed fermentum eros vitae eros
            %span.txt22.m-t-20
              $45.09
        / Block3
        .blo3.flex-w.flex-col-l-sm.m-b-30
          .pic-blo3.size20.bo-rad-10.hov-img-zoom.m-r-28
            = image_tag "dinner-06.jpg", alt: "IMG-MENU"
          .text-blo3.size21.flex-col-l-m
            %a.txt21.m-b-3{:href => "#"}
              Tempor malesuada
            %span.txt23
              Duis massa nibh porttitor nec imperdiet eget
            %span.txt22.m-t-20
              $12.75
/ Sign up
.section-signup.bg1-pattern.p-t-85.p-b-85
  %form.flex-c-m.flex-w.flex-col-c-m-lg.p-l-5.p-r-5
    %span.txt5.m-10
      Specials Sign up
    .wrap-input-signup.size17.bo2.bo-rad-10.bgwhite.pos-relative.txt10.m-10
      %input.bo-rad-10.sizefull.txt10.p-l-20{:name => "email-address", :placeholder => "Email Adrress", :type => "text"}/
      %i.fa.fa-envelope.ab-r-m.m-r-18{"aria-hidden" => "true"}
    / Button3
    %button.btn3.flex-c-m.size18.txt11.trans-0-4.m-10{:type => "submit"}
      Sign-up