<% content_for :title do %>
	Search
<% end %>
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(<%= image_url 'bg-title-page-01.jpg' %>);">
	<h2 class="tit6 t-center">
		<%= t 'title.Search Result' %>
	</h2>
</section><br>

<div class="container text-center">
	<%= form_with url: "/search", method: :get do |form| %>
	<%= form.text_field :search, placeholder: "Search your favourit food", value: params[:search] ,class:"text-center" %>
	<%= form.collection_select :category_id, Category.order(:name), :id, :name, selected: params[:category_id] , include_blank: "Select Category" %>
  	<%= form.select :price_id, [["High to Low"], ["Low to High"]], selected: params[:price_id], include_blank: "Select Pricing" %>
	<%= form.submit "Search", class:"btn btn-success" %>
	<% end %>
</div><br>

<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
	<div class="container">
		<div class="row">
			<div class="col-12 p-r-35 p-r-15-lg m-l-r-auto">
				<div class="wrap-item-mainmenu p-b-22">

					<% @foods.each do |food| %>
						<!-- Item mainmenu -->
						<div class="item-mainmenu m-b-36">
							<div class="flex-w flex-b m-b-3">
								<a href="#" class="name-item-mainmenu txt21">
									<%= food.name %>
								</a>

								<div class="line-item-mainmenu bg3-pattern"></div>

								<div class="price-item-mainmenu txt22">
									$ <%= food.price %>
								</div>
							</div>

							<span class="info-item-mainmenu txt23">
								<%= food.description %>
							</span>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<%== pagy_bootstrap_nav(@pagy) %>
</section>