<%= form_for(@reservation) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name, value: current_user.full_name, class:"form-control"%>
    </div><br>

    <div>
        <%= form.label :phone_no %>
        <%= form.text_field :phone_no, value: current_user.phone_no, class:"form-control"%>
    </div><br>

    <div>
        <%= form.label :email %>
        <%= form.text_field :email, value: current_user.email, class:"form-control"%>
    </div><br>

    <div>
        <%= form.label :persons %>
        <%= form.select :persons, [["1 Person"], ["2 Person"], ["3 Person"], ["4 Person"], ["5 Person"], ["6 Person"], ["7 Person"], ["8 Person"], ["9 Person"], ["10 Person"]], class:"form-control"%>
    </div><br>

    <div>
        <%= form.label :date %> :
        <%= form.date_select :date, class:"form-control"%>
    </div><br>

    <div>
        <%= form.label :time %> :
        <%= form.time_select :time, class:"form-control"%>
    </div><br>

    <div>
        <%= form.label :table_no %> :
        <%= form.collection_select :dining_table_id, DiningTable.order(:table_no), :id, :table_no, class:"form-control"%>
    </div><br>

    <div>
        <%= form.label :special_request %>
        <%= form.text_area :special_request, class:"form-control"%>
    </div><br>

    <%= form.submit "Book Table", class:"btn btn-block btn3 mtxt11" %>
<% end %>