<% content_for :title do %>
  Update Reservation | <%= @reservation.name %>
<% end %>
<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(<%= image_url 'bg-title-page-02.jpg' %>);">
	<h2 class="tit6 t-center">
		Reservation
	</h2>
</section>


	<!-- Reservation -->
<section class="section-reservation bg1-pattern p-t-100 p-b-113">
	<div class="container">
            <%= render "form" , reservation: @reservation %><br>
        <div>
            <%= link_to "Show this Reservation", @reservation %> |
            <%= link_to "Back to Reservations", reservations_path %>
        </div>
    </div>
</section>        