<h1>Hello <%= @user.first_name %></h1>

<h3><strong>WEL COME TO PATO PLACE</strong></h3>

<p>
  <%= @greeting %> <%= @user.full_name %> Your Account has been Created On PATO PLACE 
</p>

<p><strong>Date:</strong> <%= Date.today %></p>

<%= @reservation.name %>

<%# <%= image_tag attachments['icons/logo.png'].url %> 
<h4><strong>Note :</strong> If you want to update and delete your reservation, then you can do it within an hour THANK YOU. </h4>
<h3><strong>Thanks To Come Here. Have a Great Day</strong></h3>
